/*code to make website responsive*/

/*@media tags for responsive website*/
@media only screen and (max-width:900px){

    .footer-inner .box{
        padding-left: 10px;
        padding-right: 10px;
    }

}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media only screen and (max-width:400px) {

    .logo {
        margin: 0px;
    }

    .header {
        padding-top: 10px;
    }

    .service-subtitle {
        line-height: 2em;
        margin-bottom: 20px;
    }

    .tagline {
        padding: 20px 0 10px 0;
    }

    div.service-box {
        padding-top: 20px;
        padding-bottom: 0;
    }
}



