.row{
   width: 100%;   
}
.center{text-align:center;}

body{
 font-size: 1.1em;
 line-height: 1.5em;
 color: #5d5151;
 font-family:'Droid Sans', serif;
 background-color: #f6f6f6;
 background-image: url('../images/bg.png');
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Droid Serif', serif;
    font-size: 1.2em;
}
h1.title{
    text-transform: uppercase;
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    line-height: .75em;
    margin-bottom: 40px;
    
}
h1.title span {
    background: white;
    line-height: 0.75em;
    padding-right: 10px;

}

.logo{
    margin:40px 0;
}

p{
    font-size: .75em;
}

.wrapper{
   background: white;
   max-width:64em;
   margin: auto;
   box-shadow: 0 10px 80px rgba(0,0,0,.3);
}

.row.content-wrapper{
   padding-top: 30px;
   padding-bottom: 30px;
}

.border-bottom{
    border-bottom: 1px dashed #efeae1;
    padding-bottom: 20px;
}

.content ul li{
   list-style: none
}

/***************topmenu****************/
.sf-menu{    
    margin-bottom: 0;
    background: url('../images/menubg.png') repeat-x top;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #000;
    text-underline: none;
}

.sf-menu li{
    background: url('../images/menubg.png');
    border-right: 1px solid #000;

}

.sf-menu ul li{
   border: none;
}

.sf-menu li:hover, .sf-menu li.sfHover {
    background: rgb(199, 10, 26);

}

.sf-menu a{
    color: white;
    border:none;
    font-family: 'Droid Serif',serif;
    text-transform: uppercase;
    font-size: .875em;
    font-weight: normal;
    padding-top:1.2em;
    padding-bottom: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
}

.sf-menu ul li a{
    color: #b0b0b0;
    padding-top: .8em;
    padding-bottom: .8em;
}
.sf-menu ul li a:hover{
   color: white;
}

.small-top-menu{
    display: none
}

.small-top-menu select{
    padding: 5px;
    background: rgb(243, 129, 65);
    font-family: 'Open Sans', sans-serif;    
    text-transform: uppercase;
    border:5px solid #fff;
    margin: 20px 0;
}
.small-top-menu select option{
    padding: 10px;
}


/************home page**********/
.tagline-row{
   border-top:2px dotted rgb(233, 233, 233);
   border-bottom:2px dotted rgb(233, 233, 233);
   padding: 30px 0;
   margin-bottom: 30px;
}

.tagline h2{
   margin-top: 0;
   font-size: 1.6em;
   color: #000000;
   margin-top: 0;
   margin-bottom: 0;
   line-height: 2em;   
}

div.service-box{    
    color: #222;
    padding-bottom: 0;
}

div.service-box .service{
    padding-bottom: 30px;
}

.service-box .service .box{
   padding-right: 20px;
}

.service-box .service:last-child .box{
   padding-right: 10px;
   padding-left: 10px;
}

.service-box .service:last-child .box:first-child{
   padding-left: 0;
}
.service-box .service:last-child .box:last-child{
   padding-right: 0;
}

.service-img{
   border:14px solid rgb(236, 236, 236);
}
div.service-box .service h1{
   color: #222;
   text-transform: uppercase;
   font-weight: bold;
}



/*******footer**********/
footer.footer{
    background:url('../images/footerbg.png');
    padding: 20px 0 20px 0;
    color: #c5c5c5;
}
h2.footer-title{
    color: #fff;
    padding-bottom: 20px;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.footer-inner{
    font-size: .75em;
    color: #fff;
}

.footer-inner .box{
   border-right:2px solid #011021;
   padding-left: 50px;
   padding-right: 50px;
}

.footer-inner .box:first-child{
   padding-left: 20px;
   border-left: 0;
}

.footer-inner .box:last-child{
   border-right: 0;
   padding-right: 20px;
}

footer ul li{
    display: block;
    padding: 5px 0;
}

a.media{
   width:18px;
   height: 18px;
   line-height: 1em;
   vertical-align:middle;
   display: inline-block;
   margin-right: 10px;
}
.tweeter{
   background: url('../images/social-media.png') 0 -2px no-repeat;
}

.youtube{
   background: url('../images/social-media.png') 0 -28px no-repeat;
}

.facebook{
   background: url('../images/social-media.png') 0 -52px no-repeat;
}

.gmail{
   background: url('../images/social-media.png') 0 -77px no-repeat;
}

.address-details{
   margin-top:20px;
}

.footer ul li a{
   color: #fff;
}

.useful-links div{
   padding-right: 40px;
}

.contact div{
   padding-right: 40px;
}

span.small-icon{
   margin-right: 15px;
   display: inline-block;
}

 .useful-links ul li{
   background: no-repeat 0;
   padding-left:20px;
 }

.media ul.footer-list li{
    padding: 9px 0;
    font-size: 1.5em;    
}


footer ul li:last-child{
    border-bottom: 0;
}

footer ul li a{
    color: #222;
    font-weight: normal;
}

.footer-list li h4{
    font-weight: bold;
    color: #000;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    font-size: 100%
}

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative
}

a:focus {
    outline: none
}

img, object, embed {
    max-width: 100%;
    height: auto
}

object, embed {
    height: 100%
}

img {
    -ms-interpolation-mode: bicubic
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.text-justify {
    text-align: justify !important
}

.hide {
    display: none
}

.antialiased {
    -webkit-font-smoothing: antialiased
}

img {
    display: inline-block;
    vertical-align: middle
}

textarea {
    height: auto;
    min-height: 50px
}

select {
    width: 100%
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5em;
    *zoom: 1
}

.row:before, .row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.row.collapse .column, .row.collapse .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left
}

.row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1
}

.row .row:before, .row .row:after {
    content: " ";
    display: table
}

.row .row:after {
    clear: both
}

.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none;
    *zoom: 1
}

.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table
}

.row .row.collapse:after {
    clear: both
}

.column, .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left
}

@media only screen {
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left
    }

    .small-1 {
        position: relative;
        width: 8.3%
    }

    .small-2 {
        position: relative;
        width: 16.6%
    }

    .small-3 {
        position: relative;
        width: 25%
    }

    .small-4 {
        position: relative;
        width: 33%;
    }

    .small-5 {
        position: relative;
        width: 41.66%
    }

    .small-6 {
        position: relative;
        width: 50%
    }

    .small-7 {
        position: relative;
        width: 58%;
    }

    .small-8 {
        position: relative;
        width: 66.66%
    }

    .small-9 {
        position: relative;
        width: 75%
    }

    .small-10 {
        position: relative;
        width: 83%
    }

    .small-11 {
        position: relative;
        width: 92%
    }

    .small-12 {
        position: relative;
        width: 100%
    }

    .small-offset-1 {
        position: relative;
        margin-left: 8%
    }

    .small-offset-2 {
        position: relative;
        margin-left: 16.66%;
    }

    .small-offset-3 {
        position: relative;
        margin-left: 25%
    }

    .small-offset-4 {
        position: relative;
        margin-left: 33%
    }

    .small-offset-5 {
        position: relative;
        margin-left: 41.66%
    }

    .small-offset-6 {
        position: relative;
        margin-left: 50%
    }

    .small-offset-7 {
        position: relative;
        margin-left: 58%;
    }

    .small-offset-8 {
        position: relative;
        margin-left: 67%;
    }

    .small-offset-9 {
        position: relative;
        margin-left: 75%
    }

    .small-offset-10 {
        position: relative;
        margin-left: 83%;
    }

    [class*="column"] + [class*="column"]:last-child {
        float: right
    }

    [class*="column"] + [class*="column"].end {
        float: left
    }

    .column.small-centered, .columns.small-centered {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }

    @media only screen and (min-width: 48em) {
        .large-1 {
            position: relative;
            width: 8%;
        }

        .large-2 {
            position: relative;
            width: 16.66%
        }

        .large-3 {
            position: relative;
            width: 25%
        }

        .large-4 {
            position: relative;
            width: 33%
        }

        .large-5 {
            position: relative;
            width: 41.66%;
        }

        .large-6 {
            position: relative;
            width: 50%
        }

        .large-7 {
            position: relative;
            width: 58%;
        }

        .large-8 {
            position: relative;
            width: 66.66%;
        }

        .large-9 {
            position: relative;
            width: 75%
        }

        .large-10 {
            position: relative;
            width: 83%;
        }

        .large-11 {
            position: relative;
            width: 92%;
        }

        .large-12 {
            position: relative;
            width: 100%
        }

        .row .large-offset-1 {
            position: relative;
            margin-left: 8%;
        }

        .row .large-offset-2 {
            position: relative;
            margin-left: 16.66667%
        }

        .row .large-offset-3 {
            position: relative;
            margin-left: 25%
        }

        .row .large-offset-4 {
            position: relative;
            margin-left: 33.33333%
        }

        .row .large-offset-5 {
            position: relative;
            margin-left: 41.66667%
        }

        .row .large-offset-6 {
            position: relative;
            margin-left: 50%
        }

        .row .large-offset-7 {
            position: relative;
            margin-left: 58%;
        }

        .row .large-offset-8 {
            position: relative;
            margin-left: 67%;
        }

        .row .large-offset-9 {
            position: relative;
            margin-left: 75%
        }

        .row .large-offset-10 {
            position: relative;
            margin-left: 83%;
        }

        .row .large-offset-11 {
            position: relative;
            margin-left: 92%;
        }

        .push-1 {
            position: relative;
            left: 8%;
            right: auto
        }

        .pull-1 {
            position: relative;
            right: 8%;
            left: auto
        }

        .push-2 {
            position: relative;
            left: 16%;
            right: auto
        }

        .pull-2 {
            position: relative;
            right: 16%;
            left: auto
        }

        .push-3 {
            position: relative;
            left: 25%;
            right: auto
        }

        .pull-3 {
            position: relative;
            right: 25%;
            left: auto
        }

        .push-4 {
            position: relative;
            left: 33%;
            right: auto
        }

        .pull-4 {
            position: relative;
            right: 33%;
            left: auto
        }

        .push-5 {
            position: relative;
            left: 42%;
            right: auto
        }

        .pull-5 {
            position: relative;
            right: 42%;
            left: auto
        }

        .push-6 {
            position: relative;
            left: 50%;
            right: auto
        }

        .pull-6 {
            position: relative;
            right: 50%;
            left: auto
        }

        .push-7 {
            position: relative;
            left: 58%;
            right: auto
        }

        .pull-7 {
            position: relative;
            right: 58%;
            left: auto
        }

        .push-8 {
            position: relative;
            left: 66.7%;
            right: auto
        }

        .pull-8 {
            position: relative;
            right: 66.7%;
            left: auto
        }

        .push-9 {
            position: relative;
            left: 75%;
            right: auto
        }

        .pull-9 {
            position: relative;
            right: 75%;
            left: auto
        }

        .push-10 {
            position: relative;
            left: 83%;
            right: auto
        }

        .pull-10 {
            position: relative;
            right: 83%;
            left: auto
        }

        .push-11 {
            position: relative;
            left: 92%;
            right: auto
        }

        .pull-11 {
            position: relative;
            right: 91.7%;
            left: auto
        }

        .small-push-1 {
            left: inherit
        }

        .small-pull-1 {
            right: inherit
        }

        .small-push-2 {
            left: inherit
        }

        .small-pull-2 {
            right: inherit
        }

        .small-push-3 {
            left: inherit
        }

        .small-pull-3 {
            right: inherit
        }

        .small-push-4 {
            left: inherit
        }

        .small-pull-4 {
            right: inherit
        }

        .small-push-5 {
            left: inherit
        }

        .small-pull-5 {
            right: inherit
        }

        .small-push-6 {
            left: inherit
        }

        .small-pull-6 {
            right: inherit
        }

        .small-push-7 {
            left: inherit
        }

        .small-pull-7 {
            right: inherit
        }

        .small-push-8 {
            left: inherit
        }

        .small-pull-8 {
            right: inherit
        }

        .small-push-9 {
            left: inherit
        }

        .small-pull-9 {
            right: inherit
        }

        .small-push-10 {
            left: inherit
        }

        .small-pull-10 {
            right: inherit
        }

        .small-push-11 {
            left: inherit
        }

        .small-pull-11 {
            right: inherit
        }

    }
    }




